*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.loginPage{
  width: 100%;

}

.login-form {
  max-width: 300px;
  margin: 40px auto;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}

.loginPage h2 {
  padding: 20px 0;
  text-align: center;
  background-color: black;
  color: white;
}